
.posts {
	margin: 15px;
}

.posts__title {
	font-size: 20px;
	font-weight: 600;
}

.posts__input_posts {
	margin-top: 15px;
	margin-bottom: 15px;
}

.posts__all_posts {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.posts__add_post {
	margin-bottom: 30px;
}