.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.app-wrapper {
	display: grid;
	width: 1200px;
	margin: auto;
	overflow: clip;
	grid-template-areas:
"h h"
"n c";
	grid-template-rows: 70px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

.header {
	grid-area: h;
	padding: 10px;
	background-color: #46ccb3;
	display: flex;
	align-items: center;
}

.header-logo {
	width: 60px;
	aspect-ratio: 1/1;
	display: block;
}

.header-logo img {
	width: 100%;
	object-fit: contain;
}

.sidebar-nav {
	grid-area: n;
	background-color: #46ccb3;
	padding: 10px;
}
.sidebar-nav__item {
	margin-bottom: 10px;
}
.sidebar-nav a {
	color: #fff;
	text-decoration: unset;
	font-weight: 600;
}
.sidebar-nav a:hover,
.sidebar-nav span {
	color: #1b5541;
}

.content {
	grid-area: c;
	background-color: aliceblue;
}

.content-top-bg-image {
	width: 100%;
	display: block;
	height: 200px;
}

.content-top-bg-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-info__img {
	width: 100px;
	height: 100px;
}

.user-info__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content__user-info {
	padding-top: 15px;
	display: flex;
	align-items: flex-start;
}